/*------------------------------------*\
  Variables for colors
\*------------------------------------*/
$color-white: 						#ffffff;
$color-dark:						#2e353a;
$color-logo: 						#2b2b2b;
$color-blue:						#5c6dfa;
$color-grey:						#666b6e;
$color-red: 						#d1445c;
$color-yellow: 						#f0ce54;
$color-empty: 						#c7c7c7;
$color-light-grey: 					#e7e6e3;
$color-quantity: 					#dcdcdc;
$color-pagination:					#d6d6d6;



/*------------------------------------*\
  Variables for fonts
\*------------------------------------*/
$font-family--base: 				"Roboto", "Arial", sans-serif;
$html-size--base: 					16px;
$font-size--base: 					0.875rem; //14px
$font-size--sm: 					0.8125rem; //13px
$font-size--md:						1.25rem; //20px;
$font-size--lg: 					1.625rem; //26px