/*------------------------------------*\
  Variables for colors
\*------------------------------------*/
$color-white: 						#ffffff;
$color-dark:						#2e353a;
$color-blue:						#5c6dfa;
$color-grey:						#666b6e;
$color-red: 						#d1445c;



/*------------------------------------*\
  Variables for fonts
\*------------------------------------*/
$font-family--base: 				"Roboto", "Arial", sans-serif;
$html-size--base: 					16px;
$font-size--base: 					0.875rem; //14px
$font-size--h1: 					1.438rem; //23px
$font-size--sm: 					0.6875rem; //11px