.card {
	position: relative;
	overflow: hidden;
	box-sizing: border-box;
	padding-right: 5%;
	padding-bottom: 50px;
	width: 800px;
	background: $color-white;
	box-shadow: 0px 40px 40px 0px rgba(0, 0, 0, 0.35);
	z-index: 10;

&__logo {
	margin: 0;
	padding: 0;
	display: inline-block;
	font-size: 0;
	padding: 18px 22px;
	background: $color-logo;
}

&__slider {
	float: left;
}

&__features {
	float: right;
	width: 42%;
}

&__number {
	float: left;
	width: 85%;
	font-size: 0.75rem;
}

&__icon-gear {
	float: left;
	color: $color-blue;
}

&__model {
	margin-bottom: 12px;
}

&__spec {
	float: right;
	font-size: 0.75rem;
	color: $color-blue;
	text-transform: uppercase;
}

&__name {
	margin: 0;
	padding: 0;
	margin-bottom: 10px;
	font-size: 1.813rem;
	text-transform: uppercase;	
	font-weight: 400;
}

&__copyright {
	font-size: $font-size--base;
}

&__style {
	display: block;
	text-transform: capitalize;
	font-size: 1.5rem;
	line-height: 1.5;
}

&__details {
	font-size: 1.063rem;
	color: $color-grey;
	line-height: 1.4;
	margin-bottom: 23px;
}

&__description {
	margin-bottom: 30px;
	line-height: 1.6;
}

&__bluetooth {
	color: $color-blue;
}

&__icon-star {
	color: $color-yellow;

	&--empty {
		color: $color-empty;
	}

	&:last-of-type {
		margin-right: 25px;
	}
}

&__ranking {
	margin-bottom: 27px;	
}

&__grade {
	color: $color-red;
	margin-right: 10px;
}

&__reviews {
	font-size: $font-size--sm;
	color: $color-grey;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
		color: $color-red;
	}
}
}
